c#/basic/soap/webPDFWebServiceTest/Service References/OcrService/ocr1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schema.webpdf.de/1.0/operation" elementFormDefault="qualified" targetNamespace="http://schema.webpdf.de/1.0/operation" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="operation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billing" type="tns:BillingType" />
        <xs:element minOccurs="0" name="password" type="tns:PdfPasswordType" />
        <xs:element name="ocr" type="tns:OcrType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BillingType">
    <xs:sequence />
    <xs:attribute name="customerCode" type="xs:string" />
    <xs:attribute name="userName" type="xs:string" />
    <xs:attribute name="applicationName" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="PdfPasswordType">
    <xs:sequence />
    <xs:attribute name="permission" type="xs:string" />
    <xs:attribute name="open" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="OcrType">
    <xs:sequence>
      <xs:element minOccurs="0" name="page" type="tns:OcrPageType" />
    </xs:sequence>
    <xs:attribute name="language" type="tns:OcrLanguageType" />
    <xs:attribute name="outputFormat" type="tns:OcrOutputType" />
    <xs:attribute name="checkResolution" type="xs:boolean" />
    <xs:attribute name="imageDpi" type="xs:int" />
    <xs:attribute name="forceEachPage" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="OcrPageType">
    <xs:sequence />
    <xs:attribute name="width" type="xs:int" />
    <xs:attribute name="height" type="xs:int" />
    <xs:attribute name="metrics" type="tns:MetricsType" />
  </xs:complexType>
  <xs:simpleType name="MetricsType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="px" />
      <xs:enumeration value="mm" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OcrLanguageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eng" />
      <xs:enumeration value="deu" />
      <xs:enumeration value="fra" />
      <xs:enumeration value="ita" />
      <xs:enumeration value="spa" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OcrOutputType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="text" />
      <xs:enumeration value="hocr" />
      <xs:enumeration value="pdf" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>